<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Book</title>
</head>
<body>
  <!-- title: String,
  publishDate: Date,
  pagecount: Number,
  subject: String,
  author: {
    type: Schema.Types.ObjectId,
    ref: 'Author'
  } -->
  <main>
    <article>
      <h1>Make a book</h1>
      <form action="/books/create" method='post'>
        <label for="title">
          <input type="text" name='title' placeholder='title'><br>
        </label>

        <label for="pagecount">
          <input type="number" name ='pagecount' placeholder='pageCount'><br>
        </label>

        <label for="subject">
          <input type="text" name='subject' placeholder='subject'><br>
        </label>

        <label for="publishDate">
          <input type="date" name='publishDate'><br>
        </label>

        <label for="author">
          <select name="author" id="author"><br>
            <% for(const author of authors) {%>
              <option value="<%= author._id %>">
                <%= author.name %>
              </option>
            <% } %>
          </select>
        </label>

        <button>Add Book!</button>
      </form>
    </article>
  </main>
</body>
</html>
