<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Survey Form</title>
</head>
<body>
  <main>
    <section>
      <article class="">
        <h1>Hello Survey Form</h1>
        <form action="/results" method='post'>
          <input type="text" placeholder='Name' name='name'>
          <select class="" name="location">
            <option value="Seattle">Seattle</option>
            <option value="Dallas">Dallas</option>
            <option value="Chicago">Chicago</option>
          </select>

          <select class="" name="language">
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="ruby">Ruby</option>
          </select>

          <button>Submit</button>
        </form>
      </article>
    </section>
  </main>
</body>
</html>
