<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Survey Results</title>
</head>
<body>
  <main>
    <section>
      <article class="">
        <table>
          <thead>
            <th>Name</th>
            <th>Location</th>
            <th>Language</th>
          </thead>
          <tbody>
            <tr>
              <td><%= information.name %></td>
              <td><%= information.location %></td>
              <td><%= information.language %></td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </main>
</body>
</html>
