<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authors Books</title>
</head>
<body>
  <main>
    <article class="">
      <h2>Make Book</h2>
      <a href="/books">
        <button>Books</button>
      </a>

      <a href="/books/new">
        <button>Add Book</button>
      </a>


    </article>
    <article class="">
      <h2>Make Author</h2>
      <a href="/authors">
          <button>Authors</button>
      </a>
      <a href="/authors/new">
        <button type="button" name="button">New Author</button>
      </a>
    </article>
  </main>
</body>
</html>
