<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Authors and Books Assignment</title>
   </head>
   <body>
      <div>
         <h2>Make Book</h2>
         <a href="/books/new">
            <button type="button" name="button">New Book</button>
         </a>
         <a href="/books"><button type="button" name="button">Books</button></a>

      </div>
      <div class="">
         <h2>Make Author</h2>
         <a href="/authors/new">
            <button type="button" name="button">New Author</button>
         </a>
         <a href="/authors">
            <button type="button" name="button">Authors</button>
         </a>
      </div>
   </body>
</html>
