<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Author</title>
</head>
<body>
  <main>
    <article class="">
      <h2>Make Author</h2>
      <form class="" action="/authors/create" method="post">
        <label for="name">
          <input type="text" name='name' placeholder='author name'>
        </label>
        <label for="age">
          <input type="number" name='age'>
        </label>
        <label for="isAlive">
          <input id="isAlive" type="checkbox" name='isAlive' value='true'>
        </label>
        <input type="submit">
      </form>
    </article>
  </main>
</body>
</html>
