<!DOCTYPE html>
<<<<<<< HEAD
<html>
   <head>
      <meta charset="utf-8">
      <title>New Author</title>
   </head>
   <body>
      <div class="">
         <form class="" action="/authors/create" method="post">
            <label for="name">Name:</label><input type="text" name="name" placeholder="author name">
            <label for="age">Age:</label><input type="number" name="age">
            <label for="isAlive">Is Alive:</label><input type="checkbox" name="isAlive">
            <input type="submit" name="submit" value="Submit">
         </form>
      </div>
   </body>
=======
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Author</title>
</head>
<body>
  <main>
    <article class="">
      <h2>Make Author</h2>
      <form class="" action="/authors/create" method="post">
        <label for="name">
          <input type="text" name='name' placeholder='author name'>
        </label>
        <label for="age">
          <input type="number" name='age'>
        </label>
        <label for="isAlive">
          <input id="isAlive" type="checkbox" name='isAlive' value='true'>
        </label>
        <input type="submit">
      </form>
    </article>
  </main>
</body>
>>>>>>> 07e2b3d17631d3a0448815c7b8fdd6161d3f4a0c
</html>
